@import "../style/bulma.scss";

.Editor {
	background-color: $input-background-color;
}

// .Editor.ql-container.ql-snow {
// 	//border-color: #efefef;
// }

// .Editor .ql-editor {
// 	//	padding: 0px;
// }

.Editor.ql-container.ql-snow.infocus {
	box-shadow: $input-focus-box-shadow-size rgba($info, 0.25);
	border-color: $info;
	border-radius: $input-radius;
}
